<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1EA1E401DD4213E00E36413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1EA1E591DD4213E00E36413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1EA1E641DD4213F00E36413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
